<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotificationSettings</key>
	<array>
		<dict>
			<key>AlertType</key>
			<integer>2</integer>
			<key>BadgesEnabled</key>
			<true/>
			<key>BundleIdentifier</key>
			<string>com.paloaltonetworks.GlobalProtect.client</string>
			<key>NotificationsEnabled</key>
			<true/>
			<key>ShowInLockScreen</key>
			<true/>
			<key>ShowInNotificationCenter</key>
			<true/>
			<key>SoundsEnabled</key>
			<true/>
			<key>CriticalAlertEnabled</key>
			<false/>
		</dict>
		<dict>
			<key>AlertType</key>
			<integer>2</integer>
			<key>BadgesEnabled</key>
			<true/>
			<key>BundleIdentifier</key>
			<string>com.google.drivefs</string>
			<key>NotificationsEnabled</key>
			<true/>
			<key>ShowInLockScreen</key>
			<true/>
			<key>ShowInNotificationCenter</key>
			<true/>
			<key>SoundsEnabled</key>
			<true/>
			<key>CriticalAlertEnabled</key>
			<false/>
		</dict>
		<dict>
			<key>AlertType</key>
			<integer>0</integer>
			<key>BadgesEnabled</key>
			<false/>
			<key>BundleIdentifier</key>
			<string>com.github.ryangball.dockbuilder</string>
			<key>NotificationsEnabled</key>
			<false/>
			<key>ShowInLockScreen</key>
			<false/>
			<key>ShowInNotificationCenter</key>
			<false/>
			<key>SoundsEnabled</key>
			<false/>
			<key>CriticalAlertEnabled</key>
			<false/>
		</dict>
		<dict>
			<key>AlertType</key>
			<integer>2</integer>
			<key>BadgesEnabled</key>
			<true/>
			<key>BundleIdentifier</key>
			<string>com.microsoft.autoupdate.fba</string>
			<key>NotificationsEnabled</key>
			<true/>
			<key>ShowInLockScreen</key>
			<true/>
			<key>ShowInNotificationCenter</key>
			<true/>
			<key>SoundsEnabled</key>
			<true/>
			<key>CriticalAlertEnabled</key>
			<false/>
		</dict>
		<dict>
			<key>AlertType</key>
			<integer>2</integer>
			<key>BadgesEnabled</key>
			<true/>
			<key>BundleIdentifier</key>
			<string>com.sophos.endpoint.uiserver</string>
			<key>NotificationsEnabled</key>
			<true/>
			<key>ShowInLockScreen</key>
			<true/>
			<key>ShowInNotificationCenter</key>
			<true/>
			<key>SoundsEnabled</key>
			<true/>
			<key>CriticalAlertEnabled</key>
			<false/>
		</dict>
		<dict>
			<key>AlertType</key>
			<integer>2</integer>
			<key>BadgesEnabled</key>
			<true/>
			<key>BundleIdentifier</key>
			<string>com.logmein.remotesupport.ui</string>
			<key>NotificationsEnabled</key>
			<true/>
			<key>ShowInLockScreen</key>
			<true/>
			<key>ShowInNotificationCenter</key>
			<true/>
			<key>SoundsEnabled</key>
			<true/>
			<key>CriticalAlertEnabled</key>
			<true/>
		</dict>
		<dict>
			<key>AlertType</key>
			<integer>2</integer>
			<key>BadgesEnabled</key>
			<true/>
			<key>BundleIdentifier</key>
			<string>com.adobe.acc.AdobeCreativeCloud</string>
			<key>NotificationsEnabled</key>
			<true/>
			<key>ShowInLockScreen</key>
			<true/>
			<key>ShowInNotificationCenter</key>
			<true/>
			<key>SoundsEnabled</key>
			<true/>
			<key>CriticalAlertEnabled</key>
			<true/>
		</dict>
		<dict>
			<key>AlertType</key>
			<integer>2</integer>
			<key>BadgesEnabled</key>
			<true/>
			<key>BundleIdentifier</key>
			<string>com.adobe.acc.AdobeDesktopService</string>
			<key>NotificationsEnabled</key>
			<true/>
			<key>ShowInLockScreen</key>
			<true/>
			<key>ShowInNotificationCenter</key>
			<true/>
			<key>SoundsEnabled</key>
			<true/>
			<key>CriticalAlertEnabled</key>
			<true/>
		</dict>
		<dict>
			<key>AlertType</key>
			<integer>2</integer>
			<key>BadgesEnabled</key>
			<true/>
			<key>BundleIdentifier</key>
			<string>com.microsoft.Excel</string>
			<key>NotificationsEnabled</key>
			<true/>
			<key>ShowInLockScreen</key>
			<true/>
			<key>ShowInNotificationCenter</key>
			<true/>
			<key>SoundsEnabled</key>
			<true/>
			<key>CriticalAlertEnabled</key>
			<true/>
		</dict>
		<dict>
			<key>AlertType</key>
			<integer>2</integer>
			<key>BadgesEnabled</key>
			<true/>
			<key>BundleIdentifier</key>
			<string>com.microsoft.onenote.mac</string>
			<key>NotificationsEnabled</key>
			<true/>
			<key>ShowInLockScreen</key>
			<true/>
			<key>ShowInNotificationCenter</key>
			<true/>
			<key>SoundsEnabled</key>
			<true/>
			<key>CriticalAlertEnabled</key>
			<true/>
		</dict>
		<dict>
			<key>AlertType</key>
			<integer>2</integer>
			<key>BadgesEnabled</key>
			<true/>
			<key>BundleIdentifier</key>
			<string>com.microsoft.Powerpoint</string>
			<key>NotificationsEnabled</key>
			<true/>
			<key>ShowInLockScreen</key>
			<true/>
			<key>ShowInNotificationCenter</key>
			<true/>
			<key>SoundsEnabled</key>
			<true/>
			<key>CriticalAlertEnabled</key>
			<true/>
		</dict>
		<dict>
			<key>AlertType</key>
			<integer>2</integer>
			<key>BadgesEnabled</key>
			<true/>
			<key>BundleIdentifier</key>
			<string>com.microsoft.Word</string>
			<key>NotificationsEnabled</key>
			<true/>
			<key>ShowInLockScreen</key>
			<true/>
			<key>ShowInNotificationCenter</key>
			<true/>
			<key>SoundsEnabled</key>
			<true/>
			<key>CriticalAlertEnabled</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>